In [1]:
import numpy as np
import pandas as pd
pd.pandas.set_option('display.max_columns', None)

In [2]:
## Sample connection
from sqlalchemy import create_engine

host = "creative-analytics-db.csmwsaq07qyi.us-east-1.rds.amazonaws.com"
port = 3306
user = "admin"
password = "creativeanalytics"

engine = create_engine(f"mysql://{user}:{password}@{host}:{port}/creative_analytics")

ModuleNotFoundError: No module named 'sqlalchemy'

In [3]:
pd.read_sql("show tables", con=engine)

                        Tables_in_creative_analytics
0                  20221220_hair_us_branding_metrics
1                 20221220_hair_us_tiktok_engagement
2                       20221220_hair_us_tiktok_tags
3         20223012_CORRELATIONS_aggregate_asset_data
4                   20223012_CORRELATIONS_asset_data
5                20223012_CORRELATIONS_audience_data
6   20223012_CORRELATIONS_framewise_branding_metrics
7                20223012_CORRELATIONS_other_metrics
8         20230102_collaborativeads_branding_metrics
9                     20230102_collaborativeads_data
10                    20230102_collaborativeads_tags
11                     20230103_sedal_ad_performance
12                                20230103_sedal_ads
13                   20230103_sedal_branding_metrics
14                               20230103_sedal_tags
15                                        asset_text
16                                               tag
17                                   tag_coordinates

In [4]:
table = '20230103_sedal_ad_performance'

df_performance = pd.read_sql(f"SELECT * FROM {table}", con=engine)
#df_ad_performance.to_csv('data/sedal_ad_performance.csv', index=False)

#------------------------------------------------------------------------

table = '20230103_sedal_ads'

df_ads = pd.read_sql(f"SELECT * FROM {table}", con=engine)
#df_ads.to_csv('data/sedal_ads.csv', index=False)

#------------------------------------------------------------------------

table = '20230103_sedal_branding_metrics'

df_branding = pd.read_sql(f"SELECT * FROM {table}", con=engine)
#df_branding_metrics.to_csv('data/sedal_branding_metrics.csv', index=False)

#------------------------------------------------------------------------

table = '20230103_sedal_tags'
df_tags = pd.read_sql(f"SELECT * FROM {table}", con=engine)
#df_tags.to_csv('data/sedal_tags.csv', index=False)

In [5]:
df_performance.groupby('ad_id').sum()

C:\Users\Xavi\AppData\Local\Temp\ipykernel_4124\3429146161.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_performance.groupby('ad_id').sum()

,ctr,vtr,cpcv,cr,cost_per_conversion,reaction_rate,comment_rate,cost_per_engagement
ad_id,,,,,,,,
6199130066473,0.001117,0.026891,3.356353,0.0,0.0,0.0,0.000000,0.000
6232556954873,0.016404,0.389372,21.000486,0.0,0.0,0.0,0.000024,94908.635
6232557343273,0.005539,0.209053,25.041800,0.0,0.0,0.0,0.000000,0.000
6234016736673,0.003920,0.158572,13.828508,0.0,0.0,0.0,0.000000,0.000
6234017085473,0.004536,0.228824,9.800079,0.0,0.0,0.0,0.000000,0.000
...,...,...,...,...,...,...,...,...
6336249713273,0.028205,0.000000,0.000000,0.0,0.0,0.0,0.000026,23791.280
6336250279073,0.022025,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000
6336251362073,0.010912,0.000000,0.000000,0.0,0.0,0.0,0.000008,11725.860
6336251747073,0.022041,0.000000,0.000000,0.0,0.0,0.0,0.000075,39926.590
6336252500273,0.008996,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000

In [56]:
df_performance_sum

,ad_id,ctr,vtr,cpcv,cr,cost_per_conversion,reaction_rate,comment_rate,cost_per_engagement,assetId
0,6199130066473,0.001117,0.026891,3.356353,0.0,0.0,0.0,0.000000,0.000,01GNWKENHR87JK700X6175JRTP
1,6232556954873,0.016404,0.389372,21.000486,0.0,0.0,0.0,0.000024,94908.635,01GNWKENG6ZSRK6WWQWV0XCVWK
2,6232557343273,0.005539,0.209053,25.041800,0.0,0.0,0.0,0.000000,0.000,01GNWKENJGD8MER2539YBTCQVA
3,6234016736673,0.003920,0.158572,13.828508,0.0,0.0,0.0,0.000000,0.000,01GNWKENGFAS92AY9QA8WMGZ4S
4,6234017085473,0.004536,0.228824,9.800079,0.0,0.0,0.0,0.000000,0.000,01GNWKENJ2KW7MZP8Q5SS2X9B4
...,...,...,...,...,...,...,...,...,...,...
547,6336249713273,0.028205,0.000000,0.000000,0.0,0.0,0.0,0.000026,23791.280,01GNWH8EQV0THC127XTYFQ4PE1
548,6336250279073,0.022025,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000,01GNWH8EQV0THC127XTYFQ4PE1
549,6336251362073,0.010912,0.000000,0.000000,0.0,0.0,0.0,0.000008,11725.860,01GNWHDQCGE1RQDP66E5MHP027
550,6336251747073,0.022041,0.000000,0.000000,0.0,0.0,0.0,0.000075,39926.590,01GNWHDQCGE1RQDP66E5MHP027
551,6336252500273,0.008996,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000,01GNWHDQCGE1RQDP66E5MHP027

In [17]:
df_performance_sum = df_performance.groupby('ad_id').sum(numeric_only=True).reset_index()

In [39]:
df_performance.ad_id.nunique()

552

In [36]:
df_ads.assetId.nunique(), df_ads.ad_id.nunique()

(591, 1021)

In [21]:
df_performance_sum['assetId'] = ''

for i,id in enumerate(df_performance_sum.ad_id.values):
    for j,id2 in enumerate(df_ads.ad_id.values):
        if id==id2:
            df_performance_sum.assetId[i] = df_ads.assetId[j]
            break

C:\Users\Xavi\AppData\Local\Temp\ipykernel_13456\3405505069.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_performance_sum.assetId[i] = df_ads.assetId[j]

In [23]:
df_tags_branding = pd.merge(df_tags, df_branding, how='left', on='assetId')

In [24]:
len(df_tags), len(df_branding), len(df_tags_branding)

(50752, 591, 50752)

In [25]:
df_tags_branding_performance = pd.merge(df_tags_branding, df_performance_sum, on='assetId')

In [26]:
len(df_tags_branding_performance)

45896

In [28]:
df_tags_branding_performance.assetId.nunique()

128

In [43]:
df_tags.loc[df_tags.assetId.isin(df_performance_sum.assetId)].assetId.nunique()

128

In [47]:
df_tags.assetId.nunique()

591

------------

In [6]:
df_sedal_ads.loc[df_sedal_ads.ad_id=='6336247749073'].ad_set_name.values

array(['3pd_IntAff_Awareness-Care+Verano-2022_M_18+_Feed_All_Carrusel_Reach_Op/967558/1_Diciembre_2022',
       '3pd_IntAff_Awareness-Care+Verano-2022_M_18+_Feed_All_Carrusel_Reach_Op/967558/1_Diciembre_2022',
       '3pd_IntAff_Awareness-Care+Verano-2022_M_18+_Feed_All_Carrusel_Reach_Op/967558/1_Diciembre_2022',
       '3pd_IntAff_Awareness-Care+Verano-2022_M_18+_Feed_All_Carrusel_Reach_Op/967558/1_Diciembre_2022'],
      dtype=object)

In [49]:
df_sedal_ads.loc[df_sedal_ads.ad_id=='6336247749073'].ad_set_id.values

array(['1634d2107e18ba2892f730946a3cbc1e.png',
       '19f13248b9c7c4a07e9b6ed54010926d.png',
       '55dbf65334120b310082f73e9402bce9.png',
       '7ec409c47a2b330befce75de63f2ff1e.png'], dtype=object)

In [38]:
df_sedal_ads.ad_id.nunique()

1021

In [ ]:
df_ad_performance.loc[df_ad_performance.ad_id.isin(df_sedal_ads.ad_id)]